
        .Header {
            padding: 10px;
            width:99%;
            height: 120px;
            background:gray
        }
        .Logo {
            position: absolute;
            left: 15px;
            max-Width:25%;
            max-height:auto;
        }
        .Nav {
            position: absolute;
            right: 15px;
            top: 55px;
            background-color: yellow;
            width: 20%; 
            border: 1px;
        }
        .Nav td {
            border: 5px;
            color: yellow;
            text-align: center;
            padding: 10px 10px;
        }
        .Nav td a {
            color: black;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            font-family: Georgia;
        }
        .Nav td:hover {
            background-color: grey;
        }
        .Name {
            background-color: yellow;
            width: 100%;
            height: 50px;
            }
        .Name h1 {
            text-align: center;
            font-size: 40px;
            font-family: Impact;
        }
        .Footer {
            position: relative;
            bottom: 0;
            width: 99%;
            background: grey;
            padding: 10px;
            height: 60px;
        }
        .Footer h4 {
            float: bottom;
            text-align: center;
            color: black;
        }
        .FooterS {
            position: absolute;
            bottom: 0;
            width: 99%;
            background: grey;
            padding: 10px;
            height: 60px;
        }
        .FooterS h4 {
            float: bottom;
            text-align: center;
            color: black;
        }
        .Page {
            width: 99%;
            font-weight: medium;
            font-size: 20px;
            padding: 25px;
            text-align: center;
        }
        .Main  {
            height: 60px;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
        }
        .Main p {
            text-align: center;
        }
        .Table {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        .Table img {
            height: 140px;
            width: auto;
        }